body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* aqui já arredonda os 4 cantos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.logo {
    height: 350px;
    width: auto;
    margin-bottom: -90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

h1 {
    color: #003366;
    margin-bottom: 20px;
}

.formulario {
    margin-bottom: 20px;
    text-align: left;
}

.formulario input, .formulario textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.formulario button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0056b3;
}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
}

.buttons button:hover {
    background-color: #0056b3;
}

textarea#textoModelo {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.actions {
    margin-top: 20px;
}

.actions button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
}

.actions button:hover {
    background-color: #1e7e34;
}
